<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Add Employee</title>
</head>
<body>

<h1>Employee Payroll form</h1>

<div class="card">

    <form action="/add" method="POST">

        <label>Name:</label>
        <input 
            class="form-input" 
            type="text" 
            name="name"
            value="<%= employee?.name || '' %>" 
            required
        >

        <label>Gender:</label>
        <select name="gender" required>
            <option value="">Select gender</option>
            <option value="Male"   <%= employee?.gender === "Male" ? "selected" : "" %>>Male</option>
            <option value="Female" <%= employee?.gender === "Female" ? "selected" : "" %>>Female</option>
        </select>


        <label>Department:</label>
        <select name="department" required>
            <option value="">Select department</option>
            <option value="HR"           <%= employee?.department === "HR" ? "selected" : "" %>>HR</option>
            <option value="Engineering"  <%= employee?.department === "Engineering" ? "selected" : "" %>>Engineering</option>
            <option value="Sales"        <%= employee?.department === "Sales" ? "selected" : "" %>>Sales</option>
            <option value="Marketing"    <%= employee?.department === "Marketing" ? "selected" : "" %>>Marketing</option>
        </select>

        <label>Salary:</label>
        <input 
            class="form-input" 
            type="number" 
            name="salary"
            value="<%= employee?.salary || '' %>" 
            min="1" 
            required
        >

        <label>Joining Date:</label>
        <input 
            class="form-input" 
            type="date" 
            name="joiningDate"
            value="<%= employee?.joiningDate || '' %>"
            required
        >

        <button type="submit" class="btn-primary">Add Employee</button>

        <a href="/" class="btn-back">Cancel</a>
    </form>

</div>

</body>
</html>
